APP_NAME="Chinese Learning App"
GOOGLE_SHEET_ID="1hM0aUWPC2ktLIWHTcqDYWmDzfAhF1hpzOgLVJPsqoAc"
GOOGLE_SHEET_GID="0"
GOOGLE_WORDS_SHEET="từ vựng"
GOOGLE_SENTENCES_SHEET="câu trong game"
GOOGLE_GRAMMAR_SHEET="ngữ pháp"
GOOGLE_LESSONS_SHEET="lessons"
GOOGLE_TOPICS_SHEET="topics"
GOOGLE_RADICALS_SHEET="bộ thủ"
SYNC_ON_STARTUP="true"
